{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": { "targets": { "node": true } },
        "transform-runtime": {},
        "styled-jsx": {},
        "class-properties": {}
      }
    ]
  ],
  "plugins": [
    "babel-plugin-glsl"
  ]
}