@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
}

html {
  color: #D9D9D9;
  background-color: #000;
}

.torus {
  --size: 80vh;
  width: var(--size);
  height: var(--size);
}

.description {
  width: 18vw;
  position: relative;
}

.description::before {
  content: '●';
  position: absolute;
  top: 0;
  left: -2vw;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }

}

.monolith {
  animation: float 5s infinite;
}

*::selection {
  background-color: #D9D9D9;
  color: #000;
}