@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    /* Smaller width */
    height: 20px;
    /* Smaller height */
  }

  /* Adjust the other CSS rules as needed to match the new size */

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    /* Adjust to match the new height */
    width: 20px;
    /* Adjust to match the new width */
    left: 0px;
    /* Adjust to align the handle */
    bottom: 0px;
    /* Adjust to align the handle */
    background-color: white;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    transform: translateX(20px);
    /* Adjust to match the new size */
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}