.back-btn {
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20px;
  padding: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #111111;
  font-size: 18px;
}
